<div class="item d-sm-inline-block mb-2">
  <a href="<%= product_path(product.id) %>">
    <div class="card product-item">
      <div class="img p-2">
        <img src="<%= product.image %>" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title enable-show-more"><%= product.title %></h5>

        <p class="card-text enable-show-more more-line m96"><%= product.description %></p>

        <%= render partial: 'products/partials/price', locals:{ product: product} %>
        
        <p class="card-text text-capitalize mb-2"><%= product.category %></p>

        <div class="row">
          <div class="col">
            <a href="#" class="btn textsl btn-primary w-100 text-capitalize">
              <%= t('product.buy') %>
            </a>
          </div>
          <div class="col">
            <a href="#" class="btn textsl btn-primary w-100 text-capitalize">
              <%= t('product.addtocart') %>
              <span class="badge bg-secondary">1</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </a>
</div>