<div class="item d-sm-inline-block mb-2">
    <div class="card" style="width: 21rem;">
    <div class="img">
      <img src="<%= product.image %>" class="card-img-top" alt="...">
    </div>
      <div class="card-body">
        <h5 class="card-title enable-show-more"><%= product.title %></h5>
        <p class="card-text enable-show-more more-line m96"><%= product.description %></p>
        <h2 class="card-text"><%= product.price %></h2>
        <p class="card-text"><%= product.category %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div>