<%= render 'home/partials/banner' %>
<main class="main" id="top" data-controller="home">
  <%= render 'home/partials/reservation' %>
  <%= render 'home/partials/commercial' %>
  <%= render 'home/partials/howitwork' %>
  <%= render 'home/partials/testimonial' %>
  <%= render 'home/partials/photoshot' %>
  <%= render 'home/partials/services' %>
  <%= render 'home/partials/faqs' %>
  <%= render 'home/partials/getstartnow' %>
  <%= render 'home/partials/footer' %>
</main>