<section class="py-6">

    <div class="container pb-5">
      <div class="row">
        <div class="col-12">
          <p class="py-5 text-center">Commercial product photography agency<br>praised by over 5,000 brands.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg mb-4 mb-lg-0 d-flex flex-center"><%= image_pack_tag "home/netflix.png", class:"lozad" %></div>
        <div class="col-sm-6 col-lg mb-4 mb-lg-0 d-flex flex-center"><%= image_pack_tag "home/facebook.png", class:"lozad" %></div>
        <div class="col-sm-6 col-lg mb-4 mb-lg-0 d-flex flex-center"><%= image_pack_tag "home/freelancer.png", class:"lozad" %></div>
        <div class="col-sm-6 col-lg mb-4 mb-lg-0 d-flex flex-center"><%= image_pack_tag "home/mailbluster.png", class:"lozad" %></div>
        <div class="col-sm-6 col-lg mb-4 mb-lg-0 d-flex flex-center"><%= image_pack_tag "home/theme-wagon.png", class:"lozad" %></div>
      </div>
      <hr class="mt-6">
    </div><!-- end of .container-->

  </section>