<section>
    <div class="container pb-5">
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mb-6">
          <h1 class="text-center lh-sm fs-lg-6 fs-xxl-7">Over 1,00,000 Photos Shot</h1>
        </div>
        <div class="col-12">
          <nav></nav>
          <div class="nav nav-tabs clickr-tabs mb-6 justify-content-center" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-food-tab" data-bs-toggle="tab" data-bs-target="#nav-food" type="button" role="tab" aria-controls="nav-food" aria-selected="true">Food</button>
            <button class="nav-link" id="nav-shoes-tab" data-bs-toggle="tab" data-bs-target="#nav-shoes" type="button" role="tab" aria-controls="nav-shoes" aria-selected="false">Shoes</button>
            <button class="nav-link" id="nav-watches-tab" data-bs-toggle="tab" data-bs-target="#nav-watches" type="button" role="tab" aria-controls="nav-watches" aria-selected="false">Watches</button>
            <button class="nav-link" id="nav-cosmetics-tab" data-bs-toggle="tab" data-bs-target="#nav-cosmetics" type="button" role="tab" aria-controls="nav-cosmetics" aria-selected="false">Cosmetics</button>
            <button class="nav-link" id="nav-phone-tab" data-bs-toggle="tab" data-bs-target="#nav-phone" type="button" role="tab" aria-controls="nav-phone" aria-selected="false">Phone</button>
            <button class="nav-link" id="nav-camera-tab" data-bs-toggle="tab" data-bs-target="#nav-camera" type="button" role="tab" aria-controls="nav-camera" aria-selected="false">Camera</button>
          </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-food" role="tabpanel" aria-labelledby="nav-food-tab">
            <div class="row gx-3">
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/food-1.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/food-2.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/food-3.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/food-4.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/food-5.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/food-6.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn textbtn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-shoes" role="tabpanel" aria-labelledby="nav-shoes-tab">
            <div class="row gx-3">
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/shoes-1.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/shoes-2.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/shoes-3.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/shoes-4.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/shoes-5.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/shoes-6.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn textbtn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-watches" role="tabpanel" aria-labelledby="nav-watches-tab">
            <div class="row gx-3">
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/watch-1.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/watch-2.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/watch-3.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/watch-4.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/watch-5.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/watch-6.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn textbtn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-cosmetics" role="tabpanel" aria-labelledby="nav-cosmetics-tab">
            <div class="row gx-3">
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/cosmetics-1.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/cosmetics-2.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/cosmetics-3.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/cosmetics-4.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/cosmetics-5.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/cosmetics-6.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn textbtn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-phone" role="tabpanel" aria-labelledby="nav-phone-tab">
            <div class="row gx-3">
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/phone-1.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/phone-2.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/phone-3.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/phone-4.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/phone-5.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/phone-6.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn textbtn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-camera" role="tabpanel" aria-labelledby="nav-camera-tab">
            <div class="row gx-3">
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/camera-1.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/camera-2.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/camera-3.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/camera-4.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/camera-5.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-sm-6 col-md-4 mb-3 h-100">
                <div class="card card-span h-100 text-white"><%= image_pack_tag "home/camera-6.png", class:"rounded-3 h-100 lozad"%><a class="stretched-link" href="#!"></a></div>
              </div>
              <div class="col-12 d-flex justify-content-center mt-5"> <a class="btn textbtn btn-lg btn-outline-warning rounded-pill" href="#!">View portfolio<i class="fas fa-arrow-right ms-2"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>