<section class="py-0" id="header">
    <div class="container">
      <div class="row align-items-center min-vh-75 min-vh-md-50">
        <div class="col-12 text-center py-8">
          <h1 class="lh-sm fs-lg-6 fs-xxl-7">San Francisco Based <br>Product Photography Services </h1>
          <p class="text-700">Get high-quality aesthetic photographs of your valuable products within few days </p>
          <div class="mt-5"><a class="btn textbtn btn-sm btn-warning rounded-pill" href="#!"><i class="fas fa-camera me-2"></i>Book a photoshoot</a></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row gx-2">
        <div class="col-12">
          <div class="splide" id="primary" data-home-target="primary">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide rounded-3"><%= image_pack_tag "home/product-1.png", class:"w-100 lozad" %></li>
                <li class="splide__slide rounded-3"><%= image_pack_tag "home/product-2.png", class:"w-100 lozad" %></li>
                <li class="splide__slide rounded-3"><%= image_pack_tag "home/product-3.png", class:"w-100 lozad" %></li>
                <li class="splide__slide rounded-3"><%= image_pack_tag "home/product-4.png", class:"w-100 lozad" %></li>
                <li class="splide__slide rounded-3"><%= image_pack_tag "home/product-5.png", class:"w-100 lozad" %></li>
              </ul>
            </div>
          </div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div>
  </section>