<section class="pb-7 pt-5" id="testimonial">
    <div class="container-xxl">
      <div class="row flex-center h-100">
        <div class="col-12">
          <div class="carousel slide pointer-event" id="carouselTestimonials" data-bs-ride="carousel">
            <div class="carousel-inner ps-sm-4 ps-md-4 pb-5 pb-md-2 pb-lg-0">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100 align-items-center justify-content-around">
                  <div class="col-md-4 col-lg-5 col-xl-4 text-center order-1 d-none d-md-block">
                    <div class="wrapper square shadow-square-top">
                      <div class="h-100"><%= image_pack_tag "home/testimonial-image-1.png", alt:"testimonials", class:"rounded-3 mt-4 lozad", width:"325" %></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-5 col-xl-6 d-block d-md-none order-1"><%= image_pack_tag "home/testimonial-image-1.png", alt:"testimonials", class:"rounded-pill lozad", width:"100" %></div>
                  <div class="col-md-6 col-lg-6 col-xl-5 mb-4"><%= image_pack_tag "home/quotation.png", alt:"testimonials-bg", class:"img-fluid lozad", width:"100" %>
                    <h2 class="my-5">When it comes to both reliability and quality, <span class="text-primary">ClickR</span> is undoubtly one of best services out there. Team was fast and responsible. 5 stars for them!</h2>
                    <h6 class="text-700 fs-lg-0 mb-0">Andrinna Malin</h6>
                    <p class="fw-normal text-700 fs--1">Designer, co-Founder at Nirvana Tech</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="5000">
                <div class="row h-100 align-items-center justify-content-around">
                  <div class="col-md-4 col-lg-5 col-xl-4 text-center order-1 d-none d-md-block">
                    <div class="wrapper square shadow-square-top">
                      <div class="h-100"><%= image_pack_tag "home/testimonial-image-2.png", alt:"testimonials", class:"rounded-3 mt-4 lozad", width:"325" %></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-5 col-xl-6 d-block d-md-none order-1"><%= image_pack_tag "home/testimonial-image-2.png", alt:"testimonials", class:"rounded-pill lozad", width:"100" %></div>
                  <div class="col-md-6 col-lg-6 col-xl-5 mb-4"><%= image_pack_tag "home/quotation.png", alt:"testimonials-bg", class:"img-fluid lozad", width:"100" %>
                    <h2 class="my-5">When it comes to both reliability and quality, <span class="text-primary">ClickR</span> is undoubtly one of best services out there. Team was fast and responsible. 5 stars for them!</h2>
                    <h6 class="text-700 fs-lg-0 mb-0">Ainara Vergara,</h6>
                    <p class="fw-normal text-700 fs--1">Designer</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="3000">
                <div class="row h-100 align-items-center justify-content-around">
                  <div class="col-md-4 col-lg-5 col-xl-4 text-center order-1 d-none d-md-block">
                    <div class="wrapper square shadow-square-top">
                      <div class="h-100"><%= image_pack_tag "home/testimonial-image-3.png", alt:"testimonials", class:"rounded-3 mt-4 lozad", width:"325" %></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-5 col-xl-6 d-block d-md-none order-1"><%= image_pack_tag "home/testimonial-image-3.png", alt:"testimonials", class:"rounded-pill lozad", width:"100" %></div>
                  <div class="col-md-6 col-lg-6 col-xl-5 mb-4"><%= image_pack_tag "home/quotation.png", alt:"testimonials-bg", class:"img-fluid lozad", width:"100" %>
                    <h2 class="my-5">When it comes to both reliability and quality, <span class="text-primary">ClickR</span> is undoubtly one of best services out there. Team was fast and responsible. 5 stars for them!</h2>
                    <h6 class="text-700 fs-lg-0 mb-0">Niek Bove,</h6>
                    <p class="fw-normal text-700 fs--1">Senior Developer</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row flex-center ps-5 ps-md-6 ps-lg-7">
              <div class="col-12 position-relative"><a class="carousel-control-prev carousel-icon z-index-2" href="#carouselTestimonials" style="left:-1.9rem;" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2" href="#carouselTestimonials" role="button" data-bs-slide="next" style="right:auto;"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>